.App{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
}

.border{
    outline: 1px rgb(180, 180, 180) solid;
   animation: flicker 5s linear infinite;
}

.motion{
    opacity: 0;
}

/* @keyframes flicker {
    0% {outline: 1px rgb(0, 0, 0) solid;}
    1% {outline: 1px rgb(80, 80, 80) solid;}
    2% {outline: 1px rgb(0, 0, 0) solid;}
} */

@keyframes flicker {
    0% {
      opacity:0.1;
    }
    2% {
      opacity:1;
    }
    4% {
      opacity:0.1;
    }
    30%{
        opacity: 0.7;
    }
    70% {
      opacity:1;
    }
    100% {
      opacity:1;
    }
  }